<section>
    <h1>Profil de l'utilisateur</h1>
    <div class="profil-info">
      <fieldset>
        <label>Nom</label>
        <div>{{ nom }}</div>
      </fieldset>
  
      <fieldset>
        <label>Prenom</label>
        <div>{{ prenom }}</div>
      </fieldset>
  
      <fieldset>
        <label>ID</label>
        <div>{{ id }}</div>
      </fieldset>
  
      <fieldset>
        <label>Status</label>
        <div>{{ statut }}</div>
      </fieldset>
  
      <fieldset>
        <label>Infos</label>
        <div>{{ infos }}</div>
      </fieldset>
    </div>
  </section>
  