/* profil.component.css */

section {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  h1 {
    font-size: 1.2em;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #dc3545; /* Couleur de fond du bouton (modifiable selon vos préférences) */
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bd2130; /* Couleur de fond du bouton au survol */
  }
  