header {
  background-color: #004080;
  padding: 1em;
  text-align: center;
  color: white;
}

section {
  margin: 2em;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-text {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #cce6ff;
  margin: 0.5em;
  padding: 0.5em;
}

.welcome-image {
  flex: 1;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
