.contact-section {
  max-width: 600px; /* Largeur maximale pour la mise en page */
  margin: 2em auto; /* Centrer horizontalement avec un espace au-dessus et en dessous */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
}

input,
textarea {
  padding: 0.5em;
  margin-bottom: 1em;
}

span {
  color: red; /* Couleur rouge pour les messages d'erreur */
}

button {
  background-color: #4CAF50; /* Couleur verte pour le bouton d'envoi */
  color: white;
  padding: 0.5em;
  cursor: pointer;
  border: none;
}

button:disabled {
  background-color: #aaa; /* Couleur grise pour le bouton désactivé */
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049; /* Couleur légèrement plus foncée au survol */
}

.contact-section {
  max-width: 600px;
  margin: 2em auto;
  margin-bottom: 60px; /* Ajoutez une marge équivalente à la hauteur du footer */
}

/* Ou utilisez un espace vide en bas de la page */
.contact-space {
  height: 60px; /* Hauteur équivalente à la hauteur du footer */
}
