<section class="contact-section">
  <h1>Besoin d'infos ? Pas assez de RedBull ?</h1>
  <h2>Laissez-moi un message</h2>
  <form (submit)="sendMessage()" #contactForm="ngForm">
    <label for="nom">Nom</label>
    <input name="nom" [(ngModel)]="contact.nom" #ctlNom="ngModel" required minlength="3">
    <span *ngIf="ctlNom.invalid && (ctlNom.dirty || ctlNom.touched)">
      Le nom doit avoir au moins 3 caractères
    </span>

    <label for="prenom">Prénom</label>
    <input name="prenom" [(ngModel)]="contact.prenom">

    <label for="rue">Adresse (rue)</label>
    <input name="rue" [(ngModel)]="contact.adresse.rue">

    <label for="codePostal">Code Postal</label>
    <input name="codePostal" [(ngModel)]="contact.adresse.codePostal">

    <label for="ville">Ville</label>
    <input name="ville" [(ngModel)]="contact.adresse.ville">

    <label for="tel">Téléphone</label>
    <input name="tel" [(ngModel)]="contact.tel">

    <label for="email">Email</label>
    <input name="email" [(ngModel)]="contact.email" required email>

    <label for="infos">Commentaire ?</label>
    <textarea name="infos" [(ngModel)]="contact.infos"></textarea>

    <button type="submit" [disabled]="contactForm.invalid">Envoyer mon message</button>
    <button type="reset">J'ai changé d'avis</button>
  </form>
</section>
