
section {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.2em;
}

fieldset {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

a {
  font-size: 0.8em; /* Taille de police réduite pour le lien */
  margin-top: 10px; /* Espacement vers le haut */
  color: #007bff; /* Couleur du lien (modifiable selon vos préférences) */
  text-decoration: none; /* Supprime le soulignement du lien */
}

a:hover {
  text-decoration: underline; /* Soulignement lors du survol du lien */
}
