.login-section {
  max-width: 400px; /* Largeur maximale pour la mise en page */
  margin: 2em auto; /* Centrer horizontalement avec un espace au-dessus et en dessous */
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  margin-bottom: 1em;
}

label {
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
}

button {
  background-color: #4CAF50; /* Couleur verte pour le bouton de connexion */
  color: white;
  padding: 0.5em;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049; /* Couleur légèrement plus foncée au survol */
}
